doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Detalle - NVIO
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-SJETCMY2EN')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SJETCMY2EN', {
        'user_id': '#{userID}'
      });
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/fonts/fontawesome5-overrides.min.css')
#wrapper
    nav.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0(style='background: #6e3c8e;')
        .container-fluid.d-flex.flex-column.p-0
            a.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0(href='#')
                img(src='https://nvio.s3.amazonaws.com/assets/img/logo_nvio_blanco.png' style='width: 90%;')
            hr.sidebar-divider.my-0
            ul#accordionSidebar.nav.navbar-nav.text-light
                li.nav-item
                    a.nav-link(href='/')
                        i.fas.fa-tachometer-alt
                        span Dashboard
                li.nav-item
                    a.nav-link(href='/profile')
                        i.fas.fa-user
                        span Perfil
                li.nav-item
                    a.nav-link.active(href='/historial')
                        i.fas.fa-table
                        span Historial de Ventas
                li.nav-item
                  a.nav-link(href='/order/create')
                    i.fas.fa-plus-square
                    span Crear Nueva Orden
                li.nav-item
                    a.nav-link(href='/logout')
                        i.far.fa-user-circle
                        span Cerrar Sesión
                li.nav-item
            .text-center.d-none.d-md-inline
                button#sidebarToggle.btn.rounded-circle.border-0(type='button')
    #content-wrapper.d-flex.flex-column
        #content
            nav.navbar.navbar-light.navbar-expand.bg-white.shadow.mb-4.topbar.static-top
                //--
                    .container-fluid
                        button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3(type='button')
                            i.fas.fa-bars
                        form.form-inline.d-none.d-sm-inline-block.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
                            .input-group
                                input.bg-light.form-control.border-0.small(type='text' placeholder='Buscar...')
                                .input-group-append
                                    button.btn.btn-primary.py-0(type='button' style='background: #6e3c8e;')
                                        i.fas.fa-search
                        ul.nav.navbar-nav.flex-nowrap.ml-auto
                            li.nav-item.dropdown.d-sm-none.no-arrow
                                a.dropdown-toggle.nav-link(data-toggle='dropdown' aria-expanded='false' href='#')
                                    i.fas.fa-search
                                .dropdown-menu.dropdown-menu-right.p-3.animated--grow-in(aria-labelledby='searchDropdown')
                                    form.form-inline.mr-auto.navbar-search.w-100
                                        .input-group
                                            input.bg-light.form-control.border-0.small(type='text' placeholder='Search for ...')
                                            .input-group-append
                                                button.btn.btn-primary.py-0(type='button')
                                                    i.fas.fa-search
                            li.nav-item.dropdown.no-arrow.mx-1
                                .nav-item.dropdown.no-arrow
                                    a.dropdown-toggle.nav-link(data-toggle='dropdown' aria-expanded='false' href='#')
                                        span.badge.badge-danger.badge-counter 3+
                                        i.fas.fa-bell.fa-fw
                                    .dropdown-menu.dropdown-menu-right.dropdown-list.dropdown-menu-right.animated--grow-in
                                        h6.dropdown-header alerts center
                                        a.d-flex.align-items-center.dropdown-item(href='#')
                                            .mr-3
                                                .bg-primary.icon-circle
                                                    i.fas.fa-file-alt.text-white
                                            div
                                                span.small.text-gray-500 December 12, 2019
                                                p A new monthly report is ready to download!
                                        a.d-flex.align-items-center.dropdown-item(href='#')
                                            .mr-3
                                                .bg-success.icon-circle
                                                    i.fas.fa-donate.text-white
                                            div
                                                span.small.text-gray-500 December 7, 2019
                                                p $290.29 has been deposited into your account!
                                        a.d-flex.align-items-center.dropdown-item(href='#')
                                            .mr-3
                                                .bg-warning.icon-circle
                                                    i.fas.fa-exclamation-triangle.text-white
                                            div
                                                span.small.text-gray-500 December 2, 2019
                                                p Spending Alert: We&apos;ve noticed unusually high spending for your account.
                                        a.text-center.dropdown-item.small.text-gray-500(href='#') Show All Alerts
                            li.nav-item.dropdown.no-arrow.mx-1
                                .nav-item.dropdown.no-arrow
                                    a.dropdown-toggle.nav-link(data-toggle='dropdown' aria-expanded='false' href='#')
                                        i.fas.fa-envelope.fa-fw
                                        span.badge.badge-danger.badge-counter 7
                                    .dropdown-menu.dropdown-menu-right.dropdown-list.dropdown-menu-right.animated--grow-in
                                        h6.dropdown-header alerts center
                                        a.d-flex.align-items-center.dropdown-item(href='#')
                                            .dropdown-list-image.mr-3
                                                img.rounded-circle(src='https://nvio.s3.amazonaws.com/assets/img/avatars/avatar4.jpeg')
                                                .bg-success.status-indicator
                                            .font-weight-bold
                                                .text-truncate
                                                    span Hi there! I am wondering if you can help me with a problem I&apos;ve been having.
                                                p.small.text-gray-500.mb-0 Emily Fowler - 58m
                                        a.d-flex.align-items-center.dropdown-item(href='#')
                                            .dropdown-list-image.mr-3
                                                img.rounded-circle(src='https://nvio.s3.amazonaws.com/assets/img/avatars/avatar2.jpeg')
                                                .status-indicator
                                            .font-weight-bold
                                                .text-truncate
                                                    span I have the photos that you ordered last month!
                                                p.small.text-gray-500.mb-0 Jae Chun - 1d
                                        a.d-flex.align-items-center.dropdown-item(href='#')
                                            .dropdown-list-image.mr-3
                                                img.rounded-circle(src='https://nvio.s3.amazonaws.com/assets/img/avatars/avatar3.jpeg')
                                                .bg-warning.status-indicator
                                            .font-weight-bold
                                                .text-truncate
                                                    span
                                                        | Last month&apos;s report looks great, I am very happy with the progress so far, keep up the good work!
                                                p.small.text-gray-500.mb-0 Morgan Alvarez - 2d
                                        a.d-flex.align-items-center.dropdown-item(href='#')
                                            .dropdown-list-image.mr-3
                                                img.rounded-circle(src='https://nvio.s3.amazonaws.com/assets/img/avatars/avatar5.jpeg')
                                                .bg-success.status-indicator
                                            .font-weight-bold
                                                .text-truncate
                                                    span
                                                        | Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren&apos;t good...
                                                p.small.text-gray-500.mb-0 Chicken the Dog &middot; 2w
                                        a.text-center.dropdown-item.small.text-gray-500(href='#') Show All Alerts
                                .shadow.dropdown-list.dropdown-menu.dropdown-menu-right(aria-labelledby='alertsDropdown')
                            .d-none.d-sm-block.topbar-divider
                            li.nav-item.dropdown.no-arrow
                                .nav-item.dropdown.no-arrow
                                    a.dropdown-toggle.nav-link(data-toggle='dropdown' aria-expanded='false' href='#')
                                        span.d-none.d-lg-inline.mr-2.text-gray-600.small Juan P&eacute;rez
                                        img.border.rounded-circle.img-profile(src='https://nvio.s3.amazonaws.com/assets/img/dogs/image3.jpeg')
                                    .dropdown-menu.shadow.dropdown-menu-right.animated--grow-in
                                        a.dropdown-item(href='#')
                                            i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                                            | &nbsp;Profile
                                        a.dropdown-item(href='#')
                                            i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
                                            | &nbsp;Settings
                                        a.dropdown-item(href='#')
                                            i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
                                            | &nbsp;Activity log
                                        .dropdown-divider
                                        a.dropdown-item(href='#')
                                            i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                                            | &nbsp;Logout

            .container-fluid
                a.btn.btn-primary(type='button' style='margin-bottom: 10px;background: #6e3c8e;' href='../historial')
                    i.fa.fa-arrow-left
                    | &nbsp;Regresar
                if order[0].status.M.order.N == 0
                    a#edit.btn.btn-primary(type='button' style='float: right; margin-bottom: 10px;background: #6e3c8e;' href='../order/edit/' + order[0].SK.S.replace("ORDER#",""))
                        i.fa.fa-pencil
                        | &nbsp;Editar
                else
                    a#edit.btn.btn-primary(type='button' data-toggle='modal' data-target='#modal-no-editar' style='float: right; margin-bottom: 10px;background: #6e3c8e;')
                        i.fa.fa-pencil
                        | &nbsp;Editar
                .row
                    .col
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6#orderid.text-primary.font-weight-bold.m-0 Orden ##{order[0].SK.S.replace("ORDER#","")}
                            .card-body
                                p(style='width: 100%;')
                                    | Link del cliente:&nbsp
                                    a(class='button' target="_blank" href='//app.nvio.cl/order/' + companyId + order[0].SK.S.replace("ORDER#","")) #{'app.nvio.cl/order/' + companyId + order[0].SK.S.replace("ORDER#","")}
                                    br
                                    | Fecha de Creación #{parsed_created_at}
                                    br
                                    | Estado pedido: 
                                    if (order[0].status.M.order.N == 0)
                                      | Sin información de cliente
                                    else if (order[0].status.M.order.N == 1)
                                      | Datos de cliente rellenados
                                    else if (order[0].status.M.order.N == 2)
                                      | En proceso de preparación
                                    else if (order[0].status.M.order.N == 3)
                                      | Listo para retirar
                                    else if (order[0].status.M.order.N == 4)
                                      | En proceso de despacho
                                    else if (order[0].status.M.order.N == 5)
                                      | Pedido finalizado
                                    br
                                    | Estado pago: 
                                    if (order[0].status.M.payment.N == 0)
                                      | Sin información de cliente
                                    else if (order[0].status.M.payment.N == 1)
                                      | Comprobante subido, pago sin verificar
                                    else if (order[0].status.M.payment.N == 2)
                                      | Pago verificado
                                    else if (order[0].status.M.payment.N == 3)
                                      | Pago en efectivo
                                    br
                                    if (order[0].clientData.M.address.M.locality.S == 'Retiro en tienda')
                                      | Método Entrega: Retiro en tienda
                                      if (order[0].pickupDate)
                                        if (order[0].pickupDate.S != "")
                                          br
                                          | Fecha de retiro: #{order[0].pickupDate.S.split("-")[2]}/#{order[0].pickupDate.S.split("-")[1]}/#{order[0].pickupDate.S.split("-")[0]}
                                    else 
                                      | Método Entrega: #{order[0].shippingMethod.S}
                                      if (order[0].shippingDate)
                                        if (order[0].shippingDate.S != "")
                                          br
                                          | Fecha de entrega: #{order[0].shippingDate.S.split("-")[2]}/#{order[0].shippingDate.S.split("-")[1]}/#{order[0].shippingDate.S.split("-")[0]}
                                      
                                strong Listado de Artículos
                                .table-responsive(style='text-align: center;')
                                    table.table
                                        thead
                                            tr
                                                th Nombre Producto
                                                th Precio Unitario
                                                th Cantidad
                                                th Subtotal
                                        tbody
                                        each ORD, index in order[0].items.L
                                            tr
                                                td
                                                    p #{ORD.M.product.S}
                                                td
                                                    p(id='precio_'+index) #{ORD.M.price.N}
                                                td
                                                    p(id='cantidad_'+index) #{ORD.M.quantity.N}
                                                td
                                                    - var subtotal = parseInt(ORD.M.price.N) * parseInt(ORD.M.quantity.N)
                                                        p(id='subtotal_'+index) #{subtotal}
                                .row
                                    .col
                                        strong Total Productos
                                    .col.col-3(style='text-align: center;')
                                        p(id='totalProd') $ #{order[0].cost.M.order.N}
                                .row
                                    .col
                                        strong Total Despacho
                                    .col.col-3(style='text-align: center;')
                                        p(id='totalDespacho') $ #{order[0].cost.M.shipping.N}
                                hr
                                .row
                                    .col
                                        strong Total
                                    .col.col-3
                                        p(id='totalAbs' style='text-align: center;') $
                                            - var subtotal = parseInt(order[0].cost.M.order.N) + parseInt(order[0].cost.M.shipping.N)
                                                | #{subtotal}
                        if (order[0].status.M.payment.N != 3)
                          .card.shadow.mb-4
                              .card-header.py-3.d-flex.justify-content-between.align-items-center
                                  h6.text-primary.font-weight-bold.m-0 Estado de Pago
                              .card-body
                                  strong Comprobante de Pago
                                  br
                                  small Haz click en la imagen para ver el tamaño completo
                                  p
                                  .text-center.small.mt-4(style='margin: auto;width: 99%;')
                                      a(data-toggle='modal' data-target='#modal-comprobante')
                                          img(src=logo style='display: block;margin-bottom: 5px;margin-left: auto;margin-right: auto;max-height: 250px; max-width: 300px;width: auto;height: auto;')
                                  button#comprobante.mb-1.btn.btn-primary(type='button' style='display: block;background: #6e3c8e;margin: auto;width: 50%;') Descargar Comprobante
                                  if (order[0].status.M.payment.N != 2)
                                    button#validarPago.btn.btn-primary(type='button' style='display: block;background: #6e3c8e;margin: auto;width: 50%;') Validar Pago
                        if (order[0].status.M.order.N == 0)
                            button#borrar.btn.btn-primary(type='button' data-toggle='modal' data-target='#modal-borrar' style='background: #6e3c8e;margin-bottom: 10px;') Borrar Pedido
                        else
                            button#borrar.btn.btn-primary(type='button' data-toggle='modal' data-target='#modal-no-borrar' style='background: #6e3c8e;margin-bottom: 10px;') Borrar Pedido
                    .col
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6.text-primary.font-weight-bold.m-0 Notas Del Cliente
                                .dropdown.no-arrow
                            .card-body
                                -
                                    try {
                                        var nota = order[0].comment.S
                                    } catch (err) {
                                        var nota = "Aún no hay notas del cliente para esta orden"
                                    }
                                p #{nota}
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6.text-primary.font-weight-bold.m-0 Detalles Cliente
                            .card-body
                                -
                                    try {
                                        var cliente = order[0].clientData.M.firstName.S + " " + order[0].clientData.M.lastName.S
                                    } catch (err) {
                                        var cliente = "El cliente aún no ha registrado su nombre"
                                    }
                                p
                                    strong #{cliente}
                                hr
                                .row
                                    .col
                                        p(style='width: 80%;') Información de Contacto
                                    .col.col-3(style='text-align: right;')
                                -
                                    try {
                                        var email = order[0].clientData.M.email.S
                                    } catch (err) {
                                        var email = "El cliente no ha registrado su email"
                                    }

                                -
                                    try {
                                        var telefono = "+" + order[0].clientData.M.contactNumber.N
                                    } catch (err) {
                                        var telefono = "El cliente no ha registrado su teléfono"
                                    }
                                p
                                    | #{email}
                                    br
                                    | #{telefono}
                                
                                if (order[0].clientData.M.address.M.locality.S != 'Retiro en tienda')
                                  hr
                                  .row
                                      .col
                                          p(style='width: 80%;') Direcci&oacute;n de Despacho
                                      .col.col-3(style='text-align: right;')
                                  -
                                      try {
                                          var direccion = order[0].clientData.M.address.M.street.S + " " + order[0].clientData.M.address.M.apart.S
                                      } catch (err) {
                                          var direccion = "El cliente no ha registrado sus datos"
                                      }

                                  p
                                      | #{direccion}
                                      br
                                      | #{order[0].clientData.M.address.M.locality.S}
                                      br
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6.text-primary.font-weight-bold.m-0 Modificar Estado de Pedido
                            .card-body
                                if (order[0].status.M.order.N != 0)
                                    #status.input-group.mb-3
                                        .input-group-prepend
                                            label.input-group-text(for='status') Estado de Pedido
                                        select#selectStatus.custom-select
                                            if (order[0].status.M.order.N == 1)
                                                option(selected value='1') Datos de cliente rellenados
                                            else
                                                option(value='1') Datos de cliente rellenados
                                            if (order[0].status.M.order.N == 2)
                                                option(selected value='2') En proceso de preparación
                                            else
                                                option(value='2') En proceso de preparación
                                            if (order[0].status.M.order.N == 3)
                                                option(selected value='3') Listo para retirar
                                            else
                                                option(value='3') Listo para retirar
                                            if (order[0].status.M.order.N == 4)
                                                option(selected value='4') En proceso de despacho
                                            else
                                                option(value='4') En proceso de despacho
                                            if (order[0].status.M.order.N == 5)
                                                option(selected value='5') Pedido finalizado
                                            else
                                                option(value='5') Pedido finalizado
                                    button.btn.btn-primary.btn-sm#editStatus(type='submit') Guardar
                                else
                                    p Espera a que tu cliente rellene sus datos para editar el estado del pedido
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6.text-primary.font-weight-bold.m-0 Comentarios
                            .card-body
                                .table-responsive(style='text-align: center;')
                                    table.table
                                        tbody
                                        each ORD, index in order[0].status.M.comments.L
                                            tr
                                                td(class="text-break")
                                                    | #{ORD.M.comment.S}
                                                td #{parsed_comments_date[index]}
                                hr
                                .input-group
                                    .input-group-prepend
                                    input#comentario.form-control(type='text')
                                    .input-group-append
                                        button#comentar.btn.btn-primary(type='button' style='background: #6e3c8e;') Comentar
                .modal.fade#modal-comprobante(role='dialog' tabindex='-1')
                    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Comprobante de orden #{order[0].SK.S.replace("ORDER#","")}
                                button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                img.img-responsive(src=logo style='height: 100%; width: 100%;')
                .modal.fade#modal-borrar(tabindex='-1', role='dialog')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Estás a punto de eliminar el pedido ##{order[0].SK.S.replace("ORDER#","")}
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p ¿Quieres eliminar este pedido?
                            .modal-footer
                                form(action='/order/delete' method='POST')
                                    button.btn.btn-danger(type='submit') Eliminar Pedido
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                .modal.fade#modal-no-borrar(tabindex='-1' role='dialog')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title No puedes eliminar el pedido ##{order[0].SK.S.replace("ORDER#", "")}
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p No puedes eliminar este pedido pues tu cliente ya ingresó sus datos para este pedido
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                .modal.fade#modal-no-editar(tabindex='-1' role='dialog')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title No puedes editar el pedido ##{order[0].SK.S.replace("ORDER#", "")}
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p No puedes editar otros datos de este pedido pues tu cliente ya ingresó sus datos para este pedido
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                //- *****

        footer.bg-white.sticky-footer
            .container.my-auto
                .text-center.my-auto.copyright
                    span Copyright &copy; NVIO 2020
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
script(src='https://nvio.s3.amazonaws.com/assets/js/script.min.js')
script(src='/javascripts/detail.js')
