doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='default')
    meta(name='apple-mobile-web-app-title' content='alia')
    meta(name='apple-touch-fullscreen' content='yes')
    title Detalle - Alia
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-SJETCMY2EN')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SJETCMY2EN', {
            'user_id': '#{userID}'
        });
    link(rel='icon' type='image/png' href='https://alia.s3.amazonaws.com/assets/img/favicon.png')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/fonts/fontawesome5-overrides.min.css')
.d-lg-flex.d-sm-block
  if (userPlanID == 0)
    include ./includes/navbar-0.pug
  if (userPlanID == 1)
    include ./includes/navbar-1.pug
  if (userPlanID == 2)
    include ./includes/navbar-2.pug
  if (userPlanID == 3)
    include ./includes/navbar-3.pug
  #content-wrapper.d-flex.flex-column.flex-fill
    #content
      .container-fluid(style='margin-top: 32px;')
                a.btn.btn-primary(type='button' style='margin-bottom: 10px; background: #12c4f2; border: #12c4f2;' href='../historial')
                  i.fa.fa-arrow-left
                  | &nbsp;Regresar

                .btn-group(role='group' style='float: right;')
                    if order[0].status.M.order.N == 0
                        a#edit.btn.btn-primary(type='button' style='margin-bottom: 10px; background: #12c4f2; border: #0d87f0; z-index: 0' href='../order/edit/' + order[0].SK.S.replace("ORDER#", ""))
                            i.fa.fa-pencil
                            | &nbsp;Editar
                    else
                        a#edit.btn.btn-primary(type='button' data-toggle='modal' data-target='#modal-no-editar' style='margin-bottom: 10px; background: #12c4f2; border: #0d87f0; z-index: 0')
                            i.fa.fa-pencil
                            | &nbsp;Editar
                    if (order[0].status.M.order.N == 0)
                        a#borrar.btn.btn-primary(type='button' data-toggle='modal' data-target='#modal-borrar' style='background: #0861ff; border: #0d87f0; margin-bottom: 10px;')
                            i.fa.fa-trash
                            | &nbsp;Borrar
                    else
                        a#borrar.btn.btn-primary(type='button' data-toggle='modal' data-target='#modal-no-borrar' style='background: #0861ff; border: #0d87f0; margin-bottom: 10px;')
                            i.fa.fa-trash
                            | &nbsp;Borrar

                .row
                    .col
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6#orderid.text-primary.font-weight-bold.m-0 Orden ##{order[0].SK.S.replace("ORDER#","")}
                            .card-body
                                p(style='width: 100%;')
                                    | Link del cliente:&nbsp
                                    a(class='button' target="_blank" href='//app.aliachile.com/order/' + companyId + order[0].SK.S.replace("ORDER#","")) #{'app.aliachile.com/order/' + companyId + order[0].SK.S.replace("ORDER#","")}
                                    br
                                    | Fecha de Creación: #{parsed_created_at}
                                    br
                                    | Estado pedido:&nbsp
                                    if (order[0].status.M.order.N == 0)
                                        | Sin información de cliente
                                    else if (order[0].status.M.order.N == 1)
                                        | Datos de cliente rellenados
                                    else if (order[0].status.M.order.N == 2)
                                        | En proceso de preparación
                                    else if (order[0].status.M.order.N == 3)
                                        | Listo para retirar
                                    else if (order[0].status.M.order.N == 4)
                                        | En proceso de despacho
                                    else if (order[0].status.M.order.N == 5)
                                        | Pedido finalizado
                                    br
                                    | Estado pago:&nbsp
                                    if (order[0].status.M.payment.N == 0)
                                        | Sin información de cliente
                                    else if (order[0].status.M.payment.N == 1)
                                        | Comprobante subido, pago sin verificar
                                    else if (order[0].status.M.payment.N == 2)
                                        | Pago verificado
                                    else if (order[0].status.M.payment.N == 3)
                                        | Pago en efectivo
                                    br
                                    if (order[0].clientData.M.address.M.locality.S == 'Retiro en tienda')
                                        | Método Entrega: Retiro en tienda
                                        if (order[0].pickupDate)
                                            if (order[0].pickupDate.S != "")
                                                br
                                                | Fecha de retiro: #{order[0].pickupDate.S.split("-")[2]}/#{order[0].pickupDate.S.split("-")[1]}/#{order[0].pickupDate.S.split("-")[0]}
                                    else
                                        | Método Entrega: #{order[0].shippingMethod.S}
                                        if (order[0].shippingDate)
                                            if (order[0].shippingDate.S != "")
                                                br
                                                | Fecha de entrega: #{order[0].shippingDate.S.split("-")[2]}/#{order[0].shippingDate.S.split("-")[1]}/#{order[0].shippingDate.S.split("-")[0]}

                                strong Listado de Artículos
                                .table-responsive(style='text-align: center;')
                                    table.table
                                        thead
                                            tr
                                                th Nombre Producto
                                                th Precio Unitario
                                                th Cantidad
                                                th Subtotal
                                        tbody
                                        each ORD, index in order[0].items.L
                                            tr
                                                td
                                                    p #{ORD.M.product.S}
                                                td
                                                    p(id='precio_'+index) #{ORD.M.price.N}
                                                td
                                                    p(id='cantidad_'+index) #{ORD.M.quantity.N}
                                                td
                                                    - var subtotal = parseInt(ORD.M.price.N) * parseInt(ORD.M.quantity.N)
                                                    p(id='subtotal_'+index) #{subtotal}
                                .row
                                    .col
                                        strong Total Productos
                                    .col.col-3(style='text-align: center;')
                                        p(id='totalProd') $ #{order[0].cost.M.order.N}
                                .row
                                    .col
                                        strong Total Despacho
                                    .col.col-3(style='text-align: center;')
                                        p(id='totalDespacho') $ #{order[0].cost.M.shipping.N}
                                hr
                                .row
                                    .col
                                        strong Total
                                    .col.col-3
                                        p(id='totalAbs' style='text-align: center;') $
                                            - var subtotal = parseInt(order[0].cost.M.order.N) + parseInt(order[0].cost.M.shipping.N)
                                            | #{subtotal}
                        if (order[0].status.M.payment.N != 3)
                            .card.shadow.mb-4
                                .card-header.py-3.d-flex.justify-content-between.align-items-center
                                    h6.text-primary.font-weight-bold.m-0 Estado de Pago
                                .card-body
                                  if (order[0].status.M.payment.N != 0)
                                    strong Comprobante de Pago
                                    br
                                    small Haz click en la imagen para ver el tamaño completo
                                    p
                                    .text-center.small.mt-4(style='margin: auto;width: 99%;')
                                        a(data-toggle='modal' data-target='#modal-comprobante')
                                            img(src=logo style='display: block;margin-bottom: 5px;margin-left: auto;margin-right: auto;max-height: 250px; max-width: 300px;width: auto;height: auto;')
                                    button#comprobante.mb-1.btn.btn-primary(type='button' style='display: block;background: #12c4f2;border: #12c4f2;margin: auto;width: 50%;') Descargar Comprobante
                                    if (order[0].status.M.payment.N != 2)
                                        button#validarPago.btn.btn-primary(type='button' style='display: block;background: #12c4f2; border: #12c4f2;margin: auto;width: 50%;') Validar Pago
                                  else
                                    strong El comprobante aún no ha sido subido por tu cliente
                                    br
                                    small Una vez que tu cliente suba su comprobante podrás revisarlo y validar el pago de este pedido
                    .col
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6.text-primary.font-weight-bold.m-0 Notas Del Cliente
                                .dropdown.no-arrow
                            .card-body
                                -
                                    try {
                                        var nota = order[0].comment.S
                                    } catch (err) {
                                        var nota = "Aún no hay notas del cliente para esta orden"
                                    }
                                p #{nota}
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6.text-primary.font-weight-bold.m-0 Detalles Cliente
                            .card-body
                                -
                                    try {
                                        var cliente = order[0].clientData.M.firstName.S + " " + order[0].clientData.M.lastName.S
                                    } catch (err) {
                                        var cliente = "El cliente aún no ha registrado su nombre"
                                    }
                                p
                                    strong #{cliente}
                                hr
                                .row
                                    .col
                                        p(style='width: 80%;') Información de Contacto
                                    .col.col-3(style='text-align: right;')
                                -
                                    try {
                                        var email = order[0].clientData.M.email.S
                                    } catch (err) {
                                        var email = "El cliente no ha registrado su email"
                                    }
                                -
                                    try {
                                        var telefono = "+56" + order[0].clientData.M.contactNumber.N
                                    } catch (err) {
                                        var telefono = "El cliente no ha registrado su teléfono"
                                    }
                                p
                                    | #{email}
                                    br
                                    | #{telefono}

                                if (order[0].clientData.M.address.M.locality.S != 'Retiro en tienda')
                                    hr
                                    .row
                                        .col
                                            p(style='width: 80%;') Direcci&oacute;n de Despacho
                                        .col.col-3(style='text-align: right;')
                                    -
                                        try {
                                            var direccion = order[0].clientData.M.address.M.street.S + " " + order[0].clientData.M.address.M.apart.S
                                        } catch (err) {
                                            var direccion = "El cliente no ha registrado sus datos"
                                        }
                                    p
                                        | #{direccion}
                                        br
                                        | #{order[0].clientData.M.address.M.locality.S}
                                        br
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6.text-primary.font-weight-bold.m-0 Modificar Estado de Pedido
                            .card-body
                                if (order[0].status.M.order.N != 0)
                                    #status.input-group.mb-3
                                        .input-group-prepend
                                            label.input-group-text(for='status') Estado de Pedido
                                        select#selectStatus.custom-select
                                            if (order[0].status.M.order.N == 1)
                                                option(selected value='1') Datos de cliente rellenados
                                            else
                                                option(value='1') Datos de cliente rellenados
                                            if (order[0].status.M.order.N == 2)
                                                option(selected value='2') En proceso de preparación
                                            else
                                                option(value='2') En proceso de preparación
                                            if (order[0].status.M.order.N == 3)
                                                option(selected value='3') Listo para retirar
                                            else
                                                option(value='3') Listo para retirar
                                            if (order[0].status.M.order.N == 4)
                                                option(selected value='4') En proceso de despacho
                                            else
                                                option(value='4') En proceso de despacho
                                            if (order[0].status.M.order.N == 5)
                                                option(selected value='5') Pedido finalizado
                                            else
                                                option(value='5') Pedido finalizado
                                    button.btn.btn-primary.btn-sm#editStatus(type='submit' style='background: #12c4f2; border: #12c4f2;') Guardar
                                else
                                    p Espera a que tu cliente rellene sus datos para editar el estado del pedido
                        .card.shadow.mb-4
                            .card-header.py-3.d-flex.justify-content-between.align-items-center
                                h6.text-primary.font-weight-bold.m-0 Comentarios
                            .card-body
                                .table-responsive(style='text-align: center;')
                                    table.table
                                        tbody
                                        each ORD, index in order[0].status.M.comments.L
                                            tr
                                                td(class="text-break")
                                                    | #{ORD.M.comment.S}
                                                td #{parsed_comments_date[index]}
                                hr
                                .input-group
                                    .input-group-prepend
                                    input#comentario.form-control(type='text')
                                    .input-group-append
                                        button#comentar.btn.btn-primary(type='button' style='background: #12c4f2; border: #12c4f2;') Comentar
                .modal.fade#modal-comprobante(role='dialog' tabindex='-1')
                    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Comprobante de orden #{order[0].SK.S.replace("ORDER#","")}
                                button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                img.img-responsive(src=logo style='height: 100%; width: 100%;')
                .modal.fade#modal-borrar(tabindex='-1', role='dialog')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Estás a punto de eliminar el pedido ##{order[0].SK.S.replace("ORDER#","")}
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p ¿Quieres eliminar este pedido?
                            .modal-footer
                                form(action='/order/delete' method='POST')
                                    button.btn.btn-danger(type='submit') Eliminar Pedido
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                .modal.fade#modal-no-borrar(tabindex='-1' role='dialog')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title No puedes eliminar el pedido ##{order[0].SK.S.replace("ORDER#", "")}
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p No puedes eliminar este pedido pues tu cliente ya ingresó sus datos para este pedido
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                .modal.fade#modal-no-editar(tabindex='-1' role='dialog')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title No puedes editar el pedido ##{order[0].SK.S.replace("ORDER#", "")}
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p No puedes editar otros datos de este pedido pues tu cliente ya ingresó sus datos para este pedido
                            .modal-footer
                              button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                                //- *****
    footer.bg-white.sticky-footer
            .container.my-auto
                .text-center.my-auto.copyright
                    span Copyright &copy; Alia 2021
    include ./includes/tooltip                
    .modal.fade#modal-logout(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Estás a punto de cerrar sesión
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p ¿Deseas cerrar tu sesión?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    a.btn.btn-danger(href='/logout') Cerrar Sesión
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
script(src='https://nvio.s3.amazonaws.com/assets/js/script.min.js')
script(src='/javascripts/detail.js')
script(src='/javascripts/navbars.js')
script.
  nav('historial');
