doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Editar Orden - Alia
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-SJETCMY2EN')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-SJETCMY2EN', {
      'user_id': '#{userID}'
    });
  link(rel='icon' type='image/png' href='https://alia.s3.amazonaws.com/assets/img/favicon.png')
  link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
.d-lg-flex.d-sm-block(onload="recalc();")
  nav.navbar.navbar-dark.bg-gradient-primary.d-lg-none(style='background: #0861ff;')
    a.navbar-brand(href="/")
      img(src='https://nvio.s3.amazonaws.com/assets/img/logo_alia_bn.png' style='max-height:50px;')
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")    
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav
        li.nav-item
            a.nav-link(href='/')
                i.fas.fa-tachometer-alt.mr-1
                span Dashboard
        li.nav-item
            a.nav-link(href='/profile')
                i.fas.fa-user.mr-1
                span Perfil
        li.nav-item
            a.nav-link.active(href='/historial')
                i.fas.fa-table.mr-1
                span Historial de Ventas
        li.nav-item
            a.nav-link(href='/order/create')
                i.fas.fa-plus-square.mr-1
                span Crear Nueva Orden
        li.nav-item
            a.nav-link(data-toggle='modal' data-target='#modal-logout' href='#logout')
                i.far.fa-user-circle.mr-1
                span Cerrar Sesión 
                                          
  nav.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0.d-none.d-lg-block(style='background: #0861ff;')
      .container-fluid.d-flex.flex-column.p-0
          a.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0(href='#')
              img(src='https://nvio.s3.amazonaws.com/assets/img/logo_alia_bn.png' style='width: 90%; margin-top: 22px;')
          hr.sidebar-divider.my-0
          ul#accordionSidebar.nav.navbar-nav.text-light(style="margin-top: 22px;")
              li.nav-item
                  a.nav-link(href='/')
                      i.fas.fa-tachometer-alt
                      span Dashboard
              li.nav-item
                  a.nav-link(href='/profile')
                      i.fas.fa-user
                      span Perfil
              li.nav-item
                  a.nav-link.active(href='/historial')
                      i.fas.fa-table
                      span Historial de Ventas
              li.nav-item
                  a.nav-link(href='/order/create')
                      i.fas.fa-plus-square
                      span Crear Nueva Orden
              li.nav-item
                  a.nav-link(data-toggle='modal' data-target='#modal-logout' href='#logout')
                      i.far.fa-user-circle
                      span Cerrar Sesión
              li.nav-item
          .text-center.d-none.d-md-inline
              button#sidebarToggle.btn.rounded-circle.border-0(type='button')
  #content-wrapper.d-flex.flex-column.flex-fill
    #content
      nav.navbar(style='margin-top: 17px;')
        //-
          .container-fluid
            button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3(type='button')
              i.fas.fa-bars
            form.form-inline.d-none.d-sm-inline-block.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
              .input-group
                input.bg-light.form-control.border-0.small(type='text', placeholder='Buscar...')
                .input-group-append
                  button.btn.btn-primary.py-0(type='button', style='background: #6e3c8e;')
                    i.fas.fa-search
            //-
              ul.nav.navbar-nav.flex-nowrap.ml-auto
                li.nav-item.dropdown.d-sm-none.no-arrow
                  a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#')
                    i.fas.fa-search
                  .dropdown-menu.dropdown-menu-right.p-3.animated--grow-in(aria-labelledby='searchDropdown')
                    form.form-inline.mr-auto.navbar-search.w-100
                      .input-group
                        input.bg-light.form-control.border-0.small(type='text', placeholder='Search for ...')
                        .input-group-append
                          button.btn.btn-primary.py-0(type='button')
                            i.fas.fa-search
                li.nav-item.dropdown.no-arrow.mx-1
                  .nav-item.dropdown.no-arrow
                    a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#')
                      span.badge.badge-danger.badge-counter 3+
                      i.fas.fa-bell.fa-fw
                    .dropdown-menu.dropdown-menu-right.dropdown-list.dropdown-menu-right.animated--grow-in
                      h6.dropdown-header alerts center
                      a.d-flex.align-items-center.dropdown-item(href='#')
                        .mr-3
                          .bg-primary.icon-circle
                            i.fas.fa-file-alt.text-white
                        div
                          span.small.text-gray-500 December 12, 2019
                          p A new monthly report is ready to download!
                      a.d-flex.align-items-center.dropdown-item(href='#')
                        .mr-3
                          .bg-success.icon-circle
                            i.fas.fa-donate.text-white
                        div
                          span.small.text-gray-500 December 7, 2019
                          p $290.29 has been deposited into your account!
                      a.d-flex.align-items-center.dropdown-item(href='#')
                        .mr-3
                          .bg-warning.icon-circle
                            i.fas.fa-exclamation-triangle.text-white
                        div
                          span.small.text-gray-500 December 2, 2019
                          p Spending Alert: We&apos;ve noticed unusually high spending for your account.
                      a.text-center.dropdown-item.small.text-gray-500(href='#') Show All Alerts
                li.nav-item.dropdown.no-arrow.mx-1
                  .nav-item.dropdown.no-arrow
                    a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#')
                      i.fas.fa-envelope.fa-fw
                      span.badge.badge-danger.badge-counter 7
                    .dropdown-menu.dropdown-menu-right.dropdown-list.dropdown-menu-right.animated--grow-in
                      h6.dropdown-header alerts center
                      a.d-flex.align-items-center.dropdown-item(href='#')
                        .dropdown-list-image.mr-3
                          img.rounded-circle(src='avatars/avatar4.jpeg')
                          .bg-success.status-indicator
                        .font-weight-bold
                          .text-truncate
                            span Hi there! I am wondering if you can help me with a problem I&apos;ve been having.
                          p.small.text-gray-500.mb-0 Emily Fowler - 58m
                      a.d-flex.align-items-center.dropdown-item(href='#')
                        .dropdown-list-image.mr-3
                          img.rounded-circle(src='avatars/avatar2.jpeg')
                          .status-indicator
                        .font-weight-bold
                          .text-truncate
                            span I have the photos that you ordered last month!
                          p.small.text-gray-500.mb-0 Jae Chun - 1d
                      a.d-flex.align-items-center.dropdown-item(href='#')
                        .dropdown-list-image.mr-3
                          img.rounded-circle(src='avatars/avatar3.jpeg')
                          .bg-warning.status-indicator
                        .font-weight-bold
                          .text-truncate
                            span
                              | Last month&apos;s report looks great, I am very happy with the progress so far, keep up the good work!
                          p.small.text-gray-500.mb-0 Morgan Alvarez - 2d
                      a.d-flex.align-items-center.dropdown-item(href='#')
                        .dropdown-list-image.mr-3
                          img.rounded-circle(src='avatars/avatar5.jpeg')
                          .bg-success.status-indicator
                        .font-weight-bold
                          .text-truncate
                            span
                              | Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren&apos;t good...
                          p.small.text-gray-500.mb-0 Chicken the Dog &middot; 2w
                      a.text-center.dropdown-item.small.text-gray-500(href='#') Show All Alerts
                  .shadow.dropdown-list.dropdown-menu.dropdown-menu-right(aria-labelledby='alertsDropdown')
                .d-none.d-sm-block.topbar-divider
                li.nav-item.dropdown.no-arrow
                  .nav-item.dropdown.no-arrow
                    a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#')
                      span.d-none.d-lg-inline.mr-2.text-gray-600.small Juan P&eacute;rez
                      img.border.rounded-circle.img-profile(src='dogs/image3.jpeg')
                    .dropdown-menu.shadow.dropdown-menu-right.animated--grow-in
                      a.dropdown-item(href='#')
                        i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                        | &nbsp;Profile
                      a.dropdown-item(href='#')
                        i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
                        | &nbsp;Settings
                      a.dropdown-item(href='#')
                        i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
                        | &nbsp;Activity log
                      .dropdown-divider
                      a.dropdown-item(href='#')
                        i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                        | &nbsp;Logout
      .container-fluid
        .row
          .col
            if (message)
              .alert.alert-dismissible.fade.show(role="alert" class="alert-"+message.type)
                | #{message.message}
            .card.shadow.mb-3
              .card-header.py-3
                p.text-primary.m-0.font-weight-bold Editar Orden
              .card-body
                form#editOrder(action='/order/edit' method='POST')
                  .form-row.align-items-center
                    .col
                      .table-responsive
                        table.table
                          thead
                            tr
                              th Nombre Producto
                              th Precio Unitario
                              th Cantidad
                              th Subtotal
                          tbody#tableBody
                            each ORD, index in editOrderInfo.items
                              tr(id='items[' + index + ']')
                                td
                                  input.form-control(type='text' id='items[' + index + '][product]' name='items['+ index +'][product]' required value=ORD.product)
                                td
                                  input.form-control(type='number' style='width: 100px;' id='items[' + index + '][price]' name='items['+ index +'][price]' min='1' required value=ORD.price)
                                td
                                  input.form-control(type='number' style='width: 100px;' id='items[' + index + '][quantity]' name='items['+ index +'][quantity]' min='1' required value=ORD.quantity)
                                td
                                  .d-inline(id='items[0][subtotal]')
                                    | $ #{ORD.quantity*ORD.price}
                                  i.fas.fa-trash.d-inline.float-right.text-danger(id='delete['+ index +']' role='button')
                          tr
                            td
                              button#clickAdd.btn.btn-primary.btn-sm(style='background: #12c4f2; border: #12c4f2;') Agregar producto
                          tr
                            td
                              .col
                                p Productos
                              .col
                                p Despacho
                              .col
                                p Total
                            td
                            td
                            td
                              .col
                                p#totalProd $ #{editOrderInfo.cost.order}
                              .col
                                p#totalShip $ #{editOrderInfo.cost.shipping}
                              .col
                                - var total = editOrderInfo.cost.order + editOrderInfo.cost.shipping
                                p#totalFin $ #{total}
                      .form-row
                        .col
                          hr
                          .form-row.text-right.mb-3
                            .col.text-left.align-self-center
                              p.font-weight-bold.m-0 Método de Pago
                              .form-row(style='padding-left: 10px;')
                                  .form-group
                                    if (noTransfer == false)
                                      if (editOrderInfo.status.payment == 3)
                                        .form-check
                                          input.form-check-input(type='radio' name='payment' id='checkWire' value='transferencia')
                                          label.form-check-label(for='checkWire') Transferencia
                                        .form-check
                                          input.form-check-input(type='radio' name='payment' id='checkCash' checked value='efectivo')
                                          label.form-check-label(for='checkCash') Efectivo
                                      else
                                        .form-check
                                          input.form-check-input(type='radio' name='payment' id='checkWire' checked value='transferencia')
                                          label.form-check-label(for='checkWire') Transferencia
                                        .form-check
                                          input.form-check-input(type='radio' name='payment' id='checkCash' value='efectivo')
                                          label.form-check-label(for='checkCash') Efectivo
                                    else
                                      .form-check
                                        input.form-check-input(type='radio' name='payment' id='checkCash' checked value='efectivo')
                                        label.form-check-label(for='checkCash') Efectivo
                                      p
                                        b Si quieres activar el pago por transferencia, rellena los datos en <a href="/profile">tu perfil</a>.
                      .form-row
                        .col
                          hr
                          .form-row.text-right.mb-3
                            .col.text-left.align-self-center
                              p.font-weight-bold.m-0 Método de Despacho
                              .form-row(style='padding-left: 10px;')
                                #shippingRadios(onchange='valueChanged()')
                                  if (editOrderInfo.clientData.address.locality != 'Retiro en tienda')
                                    .form-group
                                      .form-check
                                        input.form-check-input(type='radio' name='shipping' id='checkShipping' checked value='domicilio')
                                        label.form-check-label(for='checkShipping') Despacho a Domicilio
                                      .form-check
                                        input.form-check-input(type='radio' name='shipping' id='checkInStore' value='local')
                                        label.form-check-label(for='checkInStore') Retiro en Local
                                  else
                                    .form-group
                                      .form-check
                                        input.form-check-input(type='radio' name='shipping' id='checkShipping' value='domicilio')
                                        label.form-check-label(for='checkShipping') Despacho a Domicilio
                                      .form-check
                                        input.form-check-input(type='radio' name='shipping' id='checkInStore' checked value='local')
                                        label.form-check-label(for='checkInStore') Retiro en Local
                              .form-row#shippingInfo
                                .col-lg
                                  p.font-weight-bold.m-0 Comuna de Destino
                                  input.form-control#locality(type='text' name='locality' value=editOrderInfo.clientData.address.locality required)
                                  small
                                    | Debes ingresar la comuna a la cual se enviará el pedido
                                .col-lg
                                  p.font-weight-bold.m-0 Método de Despacho
                                  input.form-control#shippingMethod(type='text' name='shippingMethod' value=editOrderInfo.shippingMethod required)
                                  small
                                    | Debes especificar el nombre de la compañía o servicio que se utilizará para el envío
                                .col-lg
                                  p.font-weight-bold.m-0 Precio del Despacho
                                  input.form-control#shippingCost(type='number' name='shippingCost' value=editOrderInfo.cost.shipping min="0" required)
                                  small
                                    | Debes ingresar el valor asociado al método de despacho escogido
                                .col-lg
                                  p.font-weight-bold.m-0 Fecha de Entrega (Opcional)
                                    input.form-control#shippingDate(type='date' name='shippingDate' value=editOrderInfo.shippingDate)
                                    small
                                      | Puedes ingresar una fecha de entrega estimada si deseas
                              .form-row#pickupInfo
                                .col-lg-4
                                  p.font-weight-bold.m-0 Dirección de Retiro
                                    input.form-control#pickupAddress(type='text' name='pickupAddress' value=editOrderInfo.pickupAddress required)
                                    small
                                      | Ingresa la dirección donde debe retirarse el pedido
                                .col-lg-4
                                  p.font-weight-bold.m-0 Fecha de Retiro (Opcional)
                                    input.form-control#pickupDate(type='date' name='pickupDate' value=editOrderInfo.pickupDate)
                                    small
                                      | Puedes ingresar una fecha de retiro estimada si deseas
                  .form-group(style="text-align: center;")
                    button.btn.btn-primary.btn-sm#submit(type='submit' value='Submit' style='background: #12c4f2; border: #12c4f2;') Editar Venta
    footer.bg-white.sticky-footer
      .container.my-auto
        .text-center.my-auto.copyright
          span Copyright &copy; Alia 2021
  .modal.fade#modal-logout(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Estás a punto de cerrar sesión
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p ¿Deseas cerrar tu sesión?
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
          a.btn.btn-danger(href='/logout') Cerrar Sesión
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src='/javascripts/order-edit.js')
  script(src='/javascripts/theme.js')
  script(src='https://nvio.s3.amazonaws.com/assets/js/script.min.js')
